In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Exploratory data analysis

## Explore data

### Dataset part 1

#### Import data set

In [16]:
df1 = pd.read_csv('data/dataset_part_1.csv')

We wish to clean the Outcome column by replacing failed landings with 0 and succesfull landings with 1.
After which, we will reassign the value types to int instead of float.

In [ ]:
df1['Outcome'].replace(to_replace=['True ASDS', 'None None', 'True RTLS', 'False ASDS', 'True Ocean', 'False Ocean', 'None ASDS','False RTLS'], value=[1,0, 1,0,1,0,0,0], inplace=True)
df1['Outcome'].astype('int')

In [21]:

df1.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6123.547647,LEO,CCSFS SLC 40,0,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCSFS SLC 40,0,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCSFS SLC 40,0,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,0,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCSFS SLC 40,0,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

In [13]:
df = pd.read_csv('data/spacex_launch_dash.csv')
df = df[[ 'Launch_Site','class' ]]
df = df[df['class'] == 1].groupby('Launch_Site', as_index=False).sum()
df

    Launch_Site  class
0   CCAFS LC-40      7
1  CCAFS SLC-40      3
2    KSC LC-39A     10
3   VAFB SLC-4E      4